/* SECTION-HERO */
.hero {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-img {
  width: 100%;
}

.hero-desciption {
  font-size: 2rem;
  line-height: 1.5;
}
.section-hero {
  background-color: #e6e2e3;
  padding: 4.8rem 9.6rem 0;
}

/* FEATURED IN SECTION */
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  font-weight: 500px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.75px;
  margin-bottom: 2.4rem;
  color: #777;
}
.logos {
  display: flex;
  justify-content: space-around;
}
.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/* MEAL SECTION */
.section-meals {
  padding: 9.6rem 0;
}
.tag {
  display: inline-block;
  padding: 4px 8px;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: #51cf66;
  color: #333;
  border-radius: 10px;
  font-weight: 600;
}
.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}
.meal {
  box-shadow: 0 2.4rem 2.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: 0.3s;
}
.meal:hover {
  transform: translateY(-1.2px);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.075);
}
.meal-tags {
  margin-bottom: 1.2rem;
  display: contents;
  gap: 0.4px;
}
.meal-img {
  width: 100%;
}
.meal-tittle {
  font-size: 2rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 2.4rem;
}
.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}
strong {
  font-weight: 500;
}

.tag--vigan {
  background-color: #94d82d;
}
.tag--paleo {
  background-color: #ffd43b;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
}
.list-icons {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}
.all-recipes {
  font-size: 1.8rem;
  text-align: center;
}

/* TESTIMONIAL SECTION */

.section-testimonial {
  background-color: #e6ddd6;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* align-items: center; */
}
.testimonial-container {
  padding: 9.6rem;
}
.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem;
}
.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}
.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}
.testimonial-name {
  font-size: 1.7rem;
  color: #777;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}
.gallery-item {
  overflow: hidden;
}
.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}
.gallery-item img:hover {
  transform: scale(1.1);
}

/* PRICING */
.section-pricing {
  padding: 9.6rem 0;
}
.pricing-plan {
  border-radius: 11px;
  padding: 4.8rem;
  width: 75%;
}
.pricing-plan--start {
  justify-content: end;
  border: 2px solid #ccc7c3;
  padding: 4.6rem;
}
.pricing-plan--complete {
  background-color: #ccc7c3;
  position: relative;
  overflow: hidden;
}

.pricing-plan--complete::after {
  content: "Best value";
  position: absolute;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  top: 6%;
  right: -10%;
  background-color: #b8a65f;
  padding: 0.8rem 3.2rem;
  transform: rotate(45deg);
}
.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  color: #e67e22;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 32px;
}
.plan-price {
  font-weight: 700;
  font-size: 7.4rem;
  color: black;
  margin-bottom: 1.6rem;
}
.plan-price span {
  font-size: 3rem;
  font-weight: 600;
}
.plan-text {
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: #777;
}
.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
}
.grid:not(:last-child) {
  margin-bottom: 10rem;
}

/* features */
.feature-icon {
  color: #cf711f;
  height: 3.2rem;
  width: 3.2rem;
  margin-bottom: 1.6rem;
  padding: 1.6rem;
  border-radius: 50%;
  background-color: #c2bbbb;
}
.feature-title {
  font-size: 2.4rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 1.6rem;
}
.feature-text {
  font-size: 1.8rem;
  line-height: 1.8rem;
}
.plan-details {
  font-size: 1.8rem;
  text-align: center;
}
.section-cta {
  padding: 9.6rem 0;
}
.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* background-color: #cf711f; */
  box-shadow: 0 2.4rem 2.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  /* temp */
  height: 40rem;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
}
.cta-text-box {
}
